
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}


.container {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1, h2 {
    margin-bottom: 20px;
}

input[type="file"] {
    margin: 15px 0;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}


button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #004c99;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.volver {
    margin-top: 30px;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../static/cayetano.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    z-index: -1;
}

.tablas-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.tabla-bloque {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.btn-volver {
    background-color: #0c0c0c; /* gris oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn-volver:hover {
    background-color: #5a6268;
}
